.navbar {
    border-bottom: 1px solid #ddd;
    display: flex; /* Sử dụng flexbox cho navbar */
    justify-content: space-between; /* Đảm bảo không gian giữa các phần tử */
    align-items: center; /* Căn giữa theo chiều dọc */
}

.navbar-brand {
    display: flex;
    align-items: center; /* Căn giữa theo chiều dọc */
}

.company-name {
    color: #C53327;
    font-size: 25px; 
    font-family: Old English Text MT;
    font-weight: 400;
    margin-left: 5px;
}

/* Nội dung menu */
.navbar-nav {
    flex-direction: row; /* Giữ các phần tử trên cùng một hàng */
    display: flex;
    align-items: center;
    justify-content: center; 
}

.navbar-nav .nav-link {
    padding: 0 10px;
    display: flex; /* Sử dụng flex để căn giữa */
    justify-content: center; /* Căn giữa theo chiều ngang */
    width: auto;
    align-items: center; 
}

.icon-button {
    background: none; /* Không có nền */
    border: none; /* Không có viền */
    color: black; /* Màu sắc cho biểu tượng */
    font-size: 1.5rem; /* Kích thước biểu tượng */
}

/* Nhãn chi nhánh */
.branch-label {
    margin-right: 5px; /* Khoảng cách giữa nhãn và nút */
}

/* Tên tài khoản */
.account-name {
    margin-right: 5px; /* Khoảng cách giữa tên tài khoản và nút */
}

@media (max-width: 576px) {
    .navbar {
        flex-wrap: wrap; /* Giữ các phần tử trên cùng một hàng */
        justify-content: center; /* Căn giữa theo chiều ngang */
    }

    .navbar-brand {
        flex-grow: 1; /* Cho phép logo mở rộng và căn giữa */
        display: flex; /* Sử dụng flex để căn giữa */
        justify-content: center; /* Căn giữa theo chiều ngang */
        align-items: center; /* Căn giữa theo chiều dọc */
    }

    .navbar-brand img {
        width: 30px; /* Giảm kích thước logo khi màn hình nhỏ */
        height: 25px; /* Giảm chiều cao logo */
    }

    .company-name {
        font-size: 20px; /* Giảm kích thước chữ tên công ty */
    }

    .navbar-nav {
        display: none; /* Ẩn menu ở chế độ mobile */
    }

    .navbar-toggler {
        display: block; /* Hiện nút toggle */
    }

    /* Khi menu được mở ra */
    .navbar-collapse.show {
        display: flex !important; /* Hiện menu khi toggle được kích hoạt */
        flex-direction: column; /* Đặt menu theo chiều dọc */
    }

    .navbar-nav .nav-link {
        font-size: 0.9rem; /* Giảm kích thước chữ cho các liên kết */
        padding: 0 10px;
        text-align: center; /* Căn giữa text */
        width: 100%; /* Đảm bảo width bằng 100% */
        justify-content: center;
    }

    .branch-label,
    .account-name {
        font-size: 0.5rem; /* Tăng kích thước chữ lên một chút */
        display: inline-flexbox;
        align-items: center; /* Căn giữa theo chiều dọc */
    }
}