.navbar {
    border-bottom: 1px solid #ddd;
    display: flex; /* Sử dụng flexbox cho navbar */
    justify-content: space-between; /* Đảm bảo không gian giữa các phần tử */
    align-items: center; /* Căn giữa theo chiều dọc */
}

.navbar-brand {
    display: flex;
    align-items: center; /* Căn giữa theo chiều dọc */
}

.company-name {
    color: #C53327;
    font-size: 25px; 
    font-family: Old English Text MT;
    font-weight: 400;
    margin-left: 5px;
}

/* Tìm kiếm */
.search-input {
    border: 1px solid #d35400;
    border-radius: 0;
    height: 38px;
    min-width: 50px; /* Đặt chiều rộng tối thiểu cho thanh tìm kiếm */
    max-width: 500px;
    flex-grow: 1; /* Cho phép thanh tìm kiếm mở rộng */
}

.search-btn {
    background-color: #d35400;
    color: white;
    border-radius: 0;
    height: 38px;
}

/* Đảm bảo các phần tử không nhảy xuống dòng trên màn hình nhỏ */
.navbar-nav {
    display: flex;
    flex-direction: row; /* Giữ các phần tử trên cùng một hàng */
    align-items: center; /* Căn giữa theo chiều dọc */
    justify-content: flex-end; /* Căn lề phải */
}

/* Biểu tượng người dùng */
.user-icon {
    font-size: 1.5rem; /* Kích thước biểu tượng người dùng */
    color: black;
}

/* Biểu tượng giỏ hàng */
.cart-icon {
    font-size: 1.5rem; /* Kích thước biểu tượng giỏ hàng */
    color: black;
}

@media (max-width: 576px) {
    .navbar {
        flex-wrap: wrap; /* Giữ các phần tử trên cùng một hàng */
        justify-content: center; /* Căn giữa theo chiều ngang */
    }

    .navbar-brand {
        flex-grow: 1; /* Cho phép logo mở rộng và căn giữa */
        display: flex; /* Sử dụng flex để căn giữa */
        justify-content: center; /* Căn giữa theo chiều ngang */
        align-items: center; /* Căn giữa theo chiều dọc */
    }

    .navbar-brand img {
        width: 30px; /* Giảm kích thước logo khi màn hình nhỏ */
        height: 25px; /* Giảm chiều cao logo */
    }

    .company-name {
        font-size: 20px; /* Giảm kích thước chữ tên công ty */
    }

    .navbar-nav {
        display: none; /* Ẩn menu ở chế độ mobile */
    }

    .navbar-toggler {
        display: block; /* Hiện nút toggle */
    }

    /* Khi menu được mở ra */
    .navbar-collapse.show {
        display: flex !important; /* Hiện menu khi toggle được kích hoạt */
        flex-direction: column; /* Đặt menu theo chiều dọc */
    }

    .navbar-nav .nav-link {
        font-size: 0.9rem; /* Giảm kích thước chữ cho các liên kết */
        padding: 0 10px;
        text-align: center; /* Căn giữa text */
        width: 100%; /* Đảm bảo width bằng 100% */
        justify-content: center;
    }

    .navbar-nav .btn {
        font-size: 1.2rem; /* Giảm kích thước biểu tượng */
    }

    .search-input {
        min-width: 0;
        font-size: 0.9rem; /* Giảm kích thước chữ trong thanh tìm kiếm */
    }

    .search-btn {
        font-size: 0.9rem; /* Giảm kích thước chữ cho nút tìm kiếm */
    }
}