body {
  margin: 20px 0 20px 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  background-color: #f7f7f7;
  font-size: 16px;
}
form {
  width: 700px !important;
  margin: auto;
  padding: 48px 70px 48px 70px;
  background-color: white;
  border-radius: 8px;
}
.btn_cancel {
  background-color: ffffff;
  border: 1px solid #c53327;
  color: #c53327;
}
.btn_cancel:hover {
  background-color: #e6e6e6;
  border: 1px solid #c53327;
  color: #c53327;
}
.btn_login {
  background-color: #c53327;
  color: white;
}
.btn_login:hover {
  background-color: #9e291f;
  color: white;
}
.btn {
  min-width: 145px !important;
}
