body {
    background-color: #f7f7f7 !important;
}

.form-container {
    max-width: 600px !important;
    margin: 20px auto !important;
    padding: 20px !important;
    background-color: #ffffff !important;
    border-radius: 10px !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
}

.form-title {
    text-align: center !important;
    margin-bottom: 20px !important;
    font-weight: bold !important;
    font-size: 24px !important;
}

.form-group label {
    font-weight: bold !important;
}

.btn-container {
    display: flex !important;
    justify-content: center !important;
    gap: 10px !important;
}

.btn_save {
    background-color: #c53327 !important;
    color: white !important;
    flex: 0 0 30% !important;
}

.btn_cancel {
    background-color: white !important;
    color: #c53327 !important;
    border-color: #c53327 !important;
    flex: 0 0 30% !important;
}
