body {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    background-color: #f7f7f7 !important;
    font-size: 16px !important;
}

@media (max-width: 768px) {
    form {
        width: auto !important;
        padding: 10px 20px !important;
    }
}

.content form {
    width: 700px !important;
    margin: auto !important;
    padding: 48px 70px !important;
    background-color: white !important;
    border-radius: 8px !important;
}

.btn_cancel {
    background-color: #ffffff !important;
    border: 1px solid #c53327 !important;
    color: #c53327 !important;
    flex: 0 0 30%;
}

.btn_cancel:hover {
    background-color: #e6e6e6 !important;
    border: 1px solid #c53327 !important;
    color: #c53327 !important;
}

.btn_login {
    background-color: #c53327 !important;
    color: white !important;
    flex: 0 0 30%;
}

.btn_login:hover {
    background-color: #9e291f !important;
    color: white !important;
}

.forgot {
    color: #c53327 !important;
    text-decoration: none !important;
}
