body {
    background-color: #f7f7f7 !important;
}

.form-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-title {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 24px;
}

.form-group label {
    font-weight: bold;
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.btn-register {
    background-color: #c53327 !important;
    color: white !important;
    flex: 0 0 30%;
}

.btn-cancel {
    background-color: white !important;
    color: #c53327 !important;
    border-color: #c53327 !important;
    flex: 0 0 30%;
}
