body {
    background-color: #f7f7f7 !important;
}

.container-fluid-product {
    margin: 10px 60px;
    padding: 20px;
}

.category-menu {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 10px;
}

.category-header {
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

.category-menu .list-group .list-group-item {
    border: none;
}

.category-menu .list-group a {
    display: block;
    color: #333;
    padding: 20px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
    transition: background-color 0.2s;
}

.category-menu a:hover {
    color: #c53327;
}

.button-section {
    /* justify-content: start;
    flex-wrap: wrap; */
    margin-top: 0;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 7px 5px 5px rgba(0, 0, 0, 0.1);
}

.button-section button {
    flex: 1 1 50px;
    white-space: nowrap;
    font-size: 20px;
    font-weight: 600;
}

.button-section button:hover {
    color: #c53327;
}

/* Title Above Card Group */
.card-group-title {
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    /* Use flexbox for layout */
    align-items: end;
    /* Vertically center the items */
    justify-content: space-between;
    /* Space out the title and the link */
    width: 100%;
    /* Ensure the title takes the full width */
    margin-bottom: 1rem;
    /* Spacing between title and description */
    margin-top: 2rem;
}

/* Title text */
.card-group-title-main {
    font-size: 1.5 rem;
    color: #333;
    /* Title color */
}

/* Link style for 'Xem thêm' */
.card-group-link,
.card-group-link-blog {
    font-size: 0.9rem;
    color: #c53327;
    /* Color for the link */
    text-decoration: none;
}

.card-group-link:hover {
    text-decoration: underline;
    /* Underline on hover */
}

/* Card Group */
.p-20 {
    padding: 20px !important;
}
.mb-20 {
    margin-bottom: 20px;
}
.card_group .btn {
    height: 22px;
    border-radius: 0;
    font-size: 12px;
    background: #da392b;
    color: white;
}

.card_group .btn:hover {
    background-color: #9e291f;
    color: white;
}

.product {
    border: 1px solid #eee;
    box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.25);
}

#btnCart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    color: #da392b;
    text-align: center;
    border: 1px solid #da392b;
}
.card_group #btnCart:hover {
    border: 1px solid #9e291f;
    color: #9e291f;
}

#btnBuy {
    min-width: 96px;
    padding: 5px 10px;
}
.cart_icon {
    font-size: 14px;
}

@media (max-width: 992px) {
    .container-fluid-product {
        margin: 10px 20px;
        padding: 10px;
    }

    .card-group-title {
        font-size: 1.5rem;
        flex-direction: column;
        align-items: flex-start;
    }

    .card-group-link-1,
    .card-group-link-blog {
        margin-top: 0.5rem;
    }

    #btnBuy {
        min-width: 60px !important;
    }
    .p-20 {
        padding: 10px !important;
    }
    .mb-20 {
        margin-bottom: 10px;
    }
}

@media (max-width: 992px) {
    .book-cell {
        display: none;
    }
}
