body {
    margin: 20px 0 20px 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif !important;
    background-color: #f7f7f7 !important;
    font-size: 16px;
}
.container-create {
    margin: 20px 0px;
}

.btn_cancel {
    background-color: #ffffff;
    border: 1px solid #c53327 !important;
    color: #c53327 !important;
    min-width: 96px !important;
    height: 45px !important;
    border-radius: 8px !important;
}

.btn_cancel:hover {
    background-color: #e6e6e6;
    border: 1px solid #c53327 !important;
    color: #c53327 !important;
}

.btn_save {
    background-color: #c53327 !important;
    color: white !important;
    min-width: 96px !important;
    height: 45px !important;
    border-radius: 8px !important;
}

.btn_save:hover {
    background-color: #9e291f !important;
    color: white !important;
}

.sub {
    font-size: 14px;
}

/* Hiển thị ảnh đã chọn */
.img-fixed-size {
    width: 150px; /* Đặt chiều rộng cố định */
    height: 200px; /* Đặt chiều cao cố định */
    object-fit: cover; /* Đảm bảo ảnh không bị méo */
    margin: 5px; /* Khoảng cách giữa các ảnh */
}

.img-container {
    display: inline-block;
    position: relative;
    margin: 5px;
}

.remove-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 12px; /* Giảm kích thước chữ */
    padding: 2px 5px; /* Giảm padding */
    line-height: 1; /* Giảm chiều cao dòng */
}

@media (max-width: 576px) {
    .container-sm {
        margin-left: 16px !important;
        margin-right: 16px !important;
    }
}
