body {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    background-color: #f7f7f7;
    font-size: 16px;
}
.kid_star {
    color: #F6A500;
    }
.container_DetailsProduct {
    margin-top: 30px !important;
    background-color: #f7f7f7;
}
@media (max-width: 992px) {
    #btnBuy {
        min-width: 60px !important;
    }
    .p-20 {
        padding: 10px !important;
    }
    .gap-20 {
        margin-bottom: 10px !important;
    }
    .gap-35 {
        margin-bottom: 16px !important;
    }
    .mt-20 {
        margin-top: 10px;
    }
    .px-60 {
        padding-left: 30px;
        padding-right: 30px;
    }
}
.thumbnail .img-fluid {
    max-width: 70px;
    max-height: 70px;
}
.container_DetailsProduct .btn {
    background: #da392b;
    color: white;
}
.container_DetailsProduct .btn:hover {
    background-color: #9e291f;
    color: white;
}
.container_DetailsProduct .btn:focus {
    outline: none;
    box-shadow: none;
}

.other_product .btn {
    height: 22px;
    border-radius: 0;
    font-size: 12px;
}
.product {
    border: 1px solid #eee;
    box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.25);
}
#btnCart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    color: #da392b;
    text-align: center;
    border: 1px solid #da392b;
}
.other_product #btnCart:hover {
    border: 1px solid #9e291f;
    color: #9e291f;
}
.container_product .btn_AddCart {
    color: #da392b;
    border: 1px solid #da392b;
    background: white;
}
.container_product .btn_AddCart:hover {
    border-radius: 8px;
    border: 1px solid #c53327;
    background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.1) 0%,
            rgba(0, 0, 0, 0.1) 100%
        ),
        #fff;
    color: #da392b;
}
#btnBuy {
    min-width: 96px;
    padding: 5px 10px;
}
.cart_icon {
    font-size: 14px;
}
#sales {
    font-size: 12px;
}
#title {
    font-size: 14px;
}
.description .btn {
    width: 447px;
    border-radius: 0;
    color: black;
    padding: 10px;
    border-bottom: 1px solid #d9d9d9;
}
.description {
    padding: 10px 46px 40px 46px !important;
}
.description .btn:hover {
    color: #da392b;
    border: none;
    border-bottom: 1px solid #da392b;
}
.description .btn.active {
    color: #da392b !important;
    border: none;
    border-bottom: 1px solid #da392b;
}
.p-20 {
    padding: 20px !important;
}
.gap-20 {
    margin-bottom: 20px;
}
.gap-35 {
    margin-bottom: 35px;
}
.mt-20 {
    margin-top: 20px;
}
.mb-20 {
    margin-bottom: 20px;
}
.px-20 {
    padding-left: 20px;
    padding-right: 20px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.container_product .label_edition {
    width: 100px;
    padding: 10px 10px;
    border-radius: 8px;
    border: 1px solid #d9d9d9;
    background: #fff;
    cursor: pointer;
}
.container_product .label_edition.active {
    border-radius: 8px;
    border: 1px solid #d9d9d9;
    background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.1) 0%,
            rgba(0, 0, 0, 0.1) 100%
        ),
        #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.quantity-control {
    display: flex;
    align-items: center;
}

.quantity-control button {
    width: 30px;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    cursor: pointer;
}

.quantity-control input {
    width: 50px;
    text-align: center;
    border: 1px solid #ccc;
    margin: 0 5px;
}

.container_product .kid_star {
    color: #F6A500;
}
