body {
    background-color: #f7f7f7 !important;
}

.form-header {
    text-align: left;
    margin-bottom: 20px;
}

.form-title::after {
    content: "";
    display: block;
    height: 2px;
    background-color: #989696;
    width: 10%;
    margin-top: 10px;
}

.form-container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart-items-container {
    padding-right: 20px;
}

.cart-summary {
    max-height: 228px;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #ddd;
    line-height: 1.8;
}

.cart-summary span {
    font-size: 1.2rem;
}

.cart-item {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.cart-item-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 12px;
}

.cart-item-name {
    flex: 2;
}

.cart-item-quantity {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-item-quantity button {
    color: #c53327;
    border: none;
    cursor: pointer;
    background-color: whitesmoke;
}

.cart-item-quantity input {
    width: 40px;
    text-align: center;
    border: none;
    color: #c53327;
}

.cart-item-total-price {
    font-weight: bold;
    color: black;
}

.remove-item {
    color: #c53327;
    font-weight: bold;
    cursor: pointer;
    margin-left: 10px;
}

.btn-checkout {
    background-color: #c53327;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.btn-checkout:hover {
    background-color: #9e291f;
}

.btn-checkout:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(197, 51, 39, 0.5);
}

@media (max-width: 400px) {
    .cart-item {
        font-size: 12px !important;
    }
    .cart-summary {
        font-size: 14px !important;
    }
    .cart-item-quantity input {
        width: 30px !important;
    }
    .cart-item-image {
        width: 50px;
        height: 50px;
        object-fit: cover;
        margin-right: 8px !important;
    }
}

@media (max-width: 992px) {
    .cart-summary {
        max-height: 258px !important;
    }
}
